body{
    color:#40514E;
    margin:0;
    text-align:center;
    position:relative;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

h1{
    color:#227C70;
    margin-top:80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color:#227C70;
    margin-top:20;
    text-align:top;
    position:relative;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    right: 30px;
    top: 5px;
    font-weight: normal;
    padding-bottom: 10px;
}
h3.second{
    color:#227C70;
    margin-top:70;
    text-align:top;
    position:relative;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 80px;
    top: 5px;
    font-weight: normal;
}
h3.third{
    color:#227C70;
    text-align: top;
    margin-top: 70;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:left;
    margin-right:550px;
    font-weight: normal;
    top:5px;
}


.top{
    background-color:#8EC3B0 ;  
    position:relative;
    padding-top: 190px;
    
    
}

.bottom-cloud{
    position:absolute;
    left:150px;
    bottom:200px;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:20px;
}
.middle-container{
    background-color: #8EC3B0;
    position:relative;
    padding-top:100px;
    
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: right;
    line-height: 2;
    
}
.skill-col{
    width: 50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height: 2;
}

.profile-pic{
    width:25%;
}
.laptop{
    width:35%;
    float:left;
    margin-right: 30px;
   

}
.website{
    width:27%;
    float:right;
    margin-left:30px;
}
.dogy{
    width:30%;
    float:center;
}
h2.dg{
    text-align: center;
    margin-left: 90px;
}
h2.touch{
    text-align: center;
    margin-left:90px;


}
.bottom-container{
    background-color: #227C70;
    padding:70px 0 40px;
}


skill.row
{
    text-align:left;
}

skill2.script
{
    text-align:right;
}

/*clear:left;*/
.intro{
    width:30%;
    margin: auto;
}
.p{
 line-height: 2;   
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom:none;
    width:10%;
    margin:100px auto;
}
.connect{
    width:40%;
    margin:40px auto 60px;
    text-align: center;
}
.btn
{
    
        background: #227C70;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-bottom: 200%;
      }
      
      .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }

a{
    color: #0A2647;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{

    color:#EAF6F6;
}
.copyright
{
    color:#EAf6F6;
    font-size: 0.75ren;
    padding:20px 0;
}